body {
    height: 90vh;
    padding: 1%;
    display: flex;
}

.content {
    flex-grow: 1;
    border: 2px solid black;   
    background-color: #451A1A;
    padding: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}

.top-section,
.bottom-section {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

/* top section */

.top-section {
    background-image: url("images/concert-stock-image.jpg");
}

#timer {
    align-self: start;
    margin: 2%;
    height: fit-content;
    width: 18%;
    border: 2px dashed red;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 25px;
}

#happiness-meter {
    height: 80%;
    width: 5%;
    border: 2px solid green;
    align-self: center;
    margin: 2%;
    background-color: green;
}


/* bottom section */
.card {
    height: 240px;
    width: 150px;
    text-align: center;
    border: 3px double blue;
    flex-shrink: 1;
}

.hideDescription {
    display: none;
}

#personalDeck {
    background-color: green;
    border-color: black;
    color: white;
}

.info {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    border: 1px solid brown;
    text-align: center;
}

.orderNo {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    border: 1px solid brown;
    text-align: center;
}

.bottom-section {
    justify-content: space-around;
    align-items: center;
}

#play {
    border: 2px dashed red;  
}

/* shop */
.shop {
    display: none;
}